<div class="container">
    <h1>Account Subscription</h1>
    <h2>Personal information :</h2>
    <form name="form" (ngSubmit)="f.form.valid && goNext()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !title.valid  }">
            <label for="title">Title</label>
            <select class="form-control" [(ngModel)]="currentUser.personalInfo.title" #title="ngModel" name="title" required>
                <option *ngFor="let title of titles" [value]="title">{{title}}</option>
            </select>
            <div *ngIf="f.submitted && !title.valid" class="help-block">Title is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" [(ngModel)]="currentUser.personalInfo.firstName" #firstName="ngModel" name="firstName" required>
            <div *ngIf="f.submitted && !firstName.valid" class="help-block">First name is required</div>
        </div>
        <div class="form-group">
            <label for="middleName">middleName</label>
            <input type="text" class="form-control" [(ngModel)]="currentUser.personalInfo.middleName" #middleName="ngModel" name="middleName">
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" [(ngModel)]="currentUser.personalInfo.lastName" #lastName="ngModel" name="lastName" required>
            <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !homePhone.valid  }">
            <label for="url">Home phone</label>
            <input type="text" placeholder="999 999-9999" class="form-control" [(ngModel)]="currentUser.personalInfo.homePhone" #homePhone="ngModel" name="homePhone" required pattern="[0-9]*" minlength="10" maxlength="10">
            <div *ngIf="f.submitted && homePhone.hasError('minlength')" class="help-block">Home number should be 10 digits</div>
            <div *ngIf="f.submitted && homePhone.hasError('required')" class="help-block">Home number is required</div>
            <div *ngIf="f.submitted && homePhone.hasError('pattern')" class="help-block">Home number should be only numbers</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !mobilePhone.valid  }">
            <label for="url">Mobile phone</label>
            <input type="text" placeholder="999 999-9999" class="form-control" [(ngModel)]="currentUser.personalInfo.mobilePhone" #mobilePhone="ngModel" name="mobilePhone" required pattern="[0-9]*" minlength="10" maxlength="10">
            <div *ngIf="f.submitted && mobilePhone.hasError('minlength')" class="help-block">Mobile number should be 10 digits</div>
            <div *ngIf="f.submitted && mobilePhone.hasError('required')" class="help-block">Mobile number is required</div>
            <div *ngIf="f.submitted && mobilePhone.hasError('pattern')" class="help-block">Mobile number should be only numbers</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid  }">
            <label for="url">Email</label>
            <input type="text" placeholder="recipient@abc.com" class="form-control" [(ngModel)]="currentUser.personalInfo.email" #email="ngModel" name="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <div *ngIf="f.submitted && email.hasError('pattern')" class="help-block">Email is in wrong format</div>
            <div *ngIf="f.submitted && email.hasError('required')" class="help-block">Email is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !socialSecurityNum.valid  }">
            <label for="url">Social Security Number</label>
            <input type="text" placeholder="000 00 0000" class="form-control" [(ngModel)]="currentUser.personalInfo.socialSecurityNum" #socialSecurityNum="ngModel" name="socialSecurityNum" required pattern="[0-9]*" minlength="9" maxlength="9">
            <div *ngIf="f.submitted && socialSecurityNum.hasError('pattern')" class="help-block">SSN should be only numbers</div>
            <div *ngIf="f.submitted && socialSecurityNum.hasError('required')" class="help-block">SSN is required</div>
            <div *ngIf="f.submitted && socialSecurityNum.hasError('minlength')" class="help-block">SSN should be 9 digits</div>
        </div>
        <button (click)="goBack()" class="btn btn-default-nav">Back</button>
        <button type="submit" class="btn btn-default">Next</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </form>
</div>
